.records-wrapper .row > * {
    padding: 5px !important;
}

.container {
    margin-bottom: 40px;
}

.controls {
    text-align: right;

    button { margin-right: 5px;}
}
 
.hidden {
    display: none !important;
}
.block {
    display: block;
}

.filters select,
.filters input { 
    width: 100%; 
    height: 30px;
}

.show-more-recs-link,
.show-fewer-recs-link {
    color: #0d6efd;
    text-decoration: underline;
    font-size: 20px;
    padding-left: 0;
}

.text-right {
    text-align: right !important;
}

#filter-section {
    border: 1px solid rgb(226, 226, 226);
    padding: 10px;
    border-radius: 3px;
}

.show-fewer-recs {
    text-align: right;
}

.btn-link {
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #0d6efd;
    text-decoration: underline;
    cursor: pointer;
}

.filters { 
    & > * {
        display: inline-block;
        width: 200px;
        margin: 5px;
    }

    #filter-dropdown {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        border: 1px solid #ddd;
        z-index: 1;
    }

    .show-filter-menu {
        display: block !important;
    }

}

.rec { display: block }

.show { display: block !important}