
<div class="container">

  <section class="text-center p-5">
    <h1>{{app_title}}</h1>
  </section>

  <h2 class="mb-5">All Records</h2>

  <section class="controls mb-5">
    <button class="btn btn-primary">Add New Record</button>
    <button class="btn btn-secondary">Export Records</button>
  </section>

  <button class="btn btn-outline-primary mb-2" (click)="toggleFilterSection($event)">Hide Filters</button>
  <section id="filter-section" *ngIf="show_filter_section">
    <div class="filters">
      <div class="col-md3">
        <div>Title</div>
        <select #title_filter (change)="filterItem($event, 'title')" [(ngModel)]="selectedTitle">
          <option></option>
          <option *ngFor="let title of allTitles" value="">{{title}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <div>Division</div>
        <select #division_filter (change)="filterItem($event, 'division')" [(ngModel)]="selectedDivision">
          <option></option>
          <option *ngFor="let division of allDivisions" value="">{{division}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <div>Project Owner</div>
        <select #project_owner_filter (change)="filterItem($event, 'project_owner')" [(ngModel)]="selectedProjectOwner">
          <option></option>
          <option *ngFor="let project_owner of allProjectOwners" value="">{{project_owner}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <div>Budget</div>
        <select #budget_filter (change)="filterItem($event, 'budget')" [(ngModel)]="selectedBudget">
          <option></option>
          <option *ngFor="let budget of allBudgets" value="">{{budget}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="">Status</label>
        <select #status_filter (change)="filterItem($event, 'status')" [(ngModel)]="selectedStatus">
          <option></option>
          <option *ngFor="let status of allStatuses" value="">{{status}}</option>
        </select>
      </div>

      <div class="col-md-3">    
        <div>Date Created</div>
        <input type="text" name="daterange" autocomplete="off" bsDaterangepicker    
          [bsConfig]="{ rangeInputFormat : 'MM/DD/YYYY', dateInputFormat: 'MMMM Do YYYY', showWeekNumbers: false }"    
          id="DateOfBirth" placeholder="Select Date Range" (bsValueChange)="filterItem($event, 'date_created')" />
      </div>   

      <div class="col-md-3">        
        <div>Date Modified</div>
        <input type="text" name="daterange" autocomplete="off" bsDaterangepicker    
          [bsConfig]="{ rangeInputFormat : 'MM/DD/YYYY', dateInputFormat: 'MMMM Do YYYY', showWeekNumbers: false }"    
          id="DateOfBirth" placeholder="Select Date Range" (bsValueChange)="filterItem($event, 'date_modified')"/>    
      </div>   

    </div>
  </section>
  
  <section class="show-more-recs mt-5">
    <button #showMoreRecsLink class="btn show-more-recs-link" (click)="toggleRecords($event)">Load More Offers</button>
  </section>

  <section class="records-wrapper" *ngIf="!filtered">    
    <div class="row">
      <ng-container *ngFor="let record of allRecords; let i = index">
        <div id="rec-{{i}}" class="col-md-3 rec" [ngClass]="(i > 7) ? 'hidden':''">        
            <div class="card">
              <div class="card-body">
                <h4 id="card-title-{{i}}" class="card-title">{{record.title}}</h4>
                <h6 id="card-subtitle-{{i}}" class="card-subtitle text-muted mb-2">{{record.division}}</h6>
                <div class="card-text">
                  <strong>Project Owner: </strong> 
                  <span id="edit-po-{{i}}" class="hidden">
                    <input type="text" [(ngModel)]="record.project_owner">
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'save', 'po')">(save)</button>
                  </span>
                  <span id="read-po-{{i}}">
                    {{record.project_owner}} 
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'edit', 'po')">(edit)</button>
                  </span>                 
                </div>
                <div class="card-text">
                  <strong>Budget: </strong> 
                  <span id="edit-bgt-{{i}}" class="hidden">
                    <input type="text" [(ngModel)]="record.budget">
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'save', 'bgt')">(save)</button>
                  </span>
                  <span id="read-bgt-{{i}}">
                    {{record.budget | currency}}
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'edit', 'bgt')">(edit)</button>
                  </span>                 
                </div>
                <div class="card-text">
                  <strong>Status: </strong> 
                  <span id="edit-sts-{{i}}" class="hidden">
                    <select [(ngModel)]="record.status">
                      <option></option>
                      <option *ngFor="let status of allStatuses" value="">{{status}}</option>
                    </select>
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'save', 'sts')">(save)</button>
                  </span>
                  <span id="read-sts-{{i}}">
                    {{record.status}}
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'edit', 'sts')">(edit)</button>
                  </span>                 
                </div>
                <div class="card-text"><strong>Created On: </strong>{{record.created}}</div>
                <div class="card-text mb-3"><strong>Modified On: </strong>{{ record.modified ? record.modified : '-' }}</div>
                <button type="button" class="btn btn-outline-secondary btn-sm">See Details</button>
              </div>
            </div>        
        </div>
      </ng-container>
    </div>  
  </section>

  <section class="records-wrapper" *ngIf="filtered">    
    <div class="row">
      <ng-container *ngFor="let record of filteredRecords; let i = index">
        <div id="rec-{{i}}" class="col-md-3 rec" [ngClass]="(i > 7) ? 'hidden':''">        
            <div class="card">
              <div class="card-body">
                <h4 id="card-title-{{i}}" class="card-title">{{record.title}}</h4>
                <h6 id="card-subtitle-{{i}}" class="card-subtitle text-muted mb-2">{{record.division}}</h6>
                <div class="card-text">
                  <strong>Project Owner: </strong> 
                  <span id="edit-po-{{i}}" class="hidden">
                    <input type="text" [(ngModel)]="record.project_owner">
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'save', 'po')">(save)</button>
                  </span>
                  <span id="read-po-{{i}}">
                    {{record.project_owner}} 
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'edit', 'po')">(edit)</button>
                  </span>                 
                </div>
                <div class="card-text">
                  <strong>Budget: </strong> 
                  <span id="edit-bgt-{{i}}" class="hidden">
                    <input type="text" [(ngModel)]="record.budget">
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'save', 'bgt')">(save)</button>
                  </span>
                  <span id="read-bgt-{{i}}">
                    {{record.budget | currency}}
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'edit', 'bgt')">(edit)</button>
                  </span>                 
                </div>
                <div class="card-text">
                  <strong>Status: </strong> 
                  <span id="edit-sts-{{i}}" class="hidden">                    
                    <select [(ngModel)]="record.status">
                      <option></option>
                      <option *ngFor="let status of allStatuses" value="">{{status}}</option>
                    </select>
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'save', 'sts')">(save)</button>
                  </span>
                  <span id="read-sts-{{i}}">
                    {{record.status}}
                    <button class="btn-link" (click)="updateItem(record, $event, i, 'edit', 'sts')">(edit)</button>
                  </span>                 
                </div>

                <div class="card-text"><strong>Created On: </strong>{{record.created}}</div>
                <div class="card-text mb-3"><strong>Modified On: </strong>{{ record.modified ? record.modified : '-' }}</div>
                <button type="button" class="btn btn-outline-secondary btn-sm">See Details</button>
              </div>
            </div>        
        </div>
      </ng-container>
    </div>  
  </section>
</div>